{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <form action="/" method="post">

        <h1>
          Your Hosting
        </h1>

        <table action="/sheet" class="table table-dark" method="GET" id="table2">
          <thead>
            <tr>
              <th scope="col">Location</th>
              <th scope="col">Time</th>
              <th scope="col">Type</th> 
            </tr>
          </thead>
          {% for user in you %}
          <tbody>
              <td>{{ user["location"] }}</td>
              <td>{{ user["start"] }} to {{ user["end"] }}</td>
              <td>{{ user["type"] }}</td>
          </tbody>
          {% endfor %}
        </table>

        <button class="btn btn-primary" name="b1" type="submit" value="1">Leave Annenberg</button>

        <h1>
          Hosts
        </h1>

        <table action="/sheet" class="table table-dark" method="GET" id="table">
          <thead>
            <tr>
              <th scope="col">Username</th>
              <th scope="col">Name</th>
              <th scope="col">Location</th>
              <th scope="col">Time</th>
              <th scope="col">Type</th>              
              <th scope="col">Email</th> 
            </tr>
          </thead>
          {% for user in users %}
          <tbody>
              <td>{{ user["username"] }}</td>
              <td>{{ user["fullname"] }}</td>
              <td>{{ user["location"] }}</td>
              <td>{{ user["start"] }} to {{ user["end"] }}</td>
              <td>{{ user["type"] }}</td>
              <td>{{ user["email"] }}</td>
          </tbody>
          {% endfor %}
        </table>


    </form>


{% endblock %}
