
{% extends "login.html" %}

{% block title %}
    Offer to host
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <input class="form-control" name="location" placeholder="City, country" type="text">
            <input class="form-control" name="start" placeholder="2019-06-01" type="text">
            <input class="form-control" name="end" placeholder="2019-08-31" type="text">
            <input class="form-control" name="type" placeholder="host, hang out, tour etc." type="text">
        </div>
        <button class="btn btn-primary" type="submit">Enter</button>
    </form>
{% endblock %}